body {
  font-family: Arial;
  line-height: 1.5;
}

.distanz-logo-text {
  margin-top: 30px;
}

.distanz-text {
  margin-left: 50%;
}

.adress {
  margin-top: 100px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
}

#total {
  border-bottom: 4px double
}

.designation {
  background-color: rgb(197, 197, 197);
}

.non-border {
  border: none;
}

.distanz-50px {
  margin-top: 50px;
}

.list {
  margin: 0px;
  padding-left: 14px;
}

#hocher-logo {
  width: 225px;
}

#unterschrift {
  width: 95px;
  height: 50px;
}

#social-link {
  text-align: right;
  display: block;
}

a:hover {
  color: purple;
}
a:link {
  color: rgb(71, 71, 255);
}
a:visited {
  color: brown;
}
a:active {
  color: brown;
}

.gray:first-child {
  background-color: rgb(240, 240, 240);
}
